<div class="about-div">
  <h1>About</h1>
  <h2>Hi, I'm Bipin Kumar</h2>
  <p>
    I'm a full stack web developer. I have experience in HTML, CSS, JavaScript,
    Node.js, Express.js, MongoDB and React.js.
  </p>
  <p>
    I have created this blog website using Node.js, Express.js, and MongoDB. I
    have used EJS as a templating engine.
  </p>
  <p>I have used MongoDB Atlas for database.</p>
  <p>I have used Git for version control.</p>
  <p>I have used VS Code as a code editor.</p>
</div>
