<div class="intro">
  <div><img src="/IMG/main-img.png" alt="" height="300px" /></div>

  <div class="welcome-text">
    <h1>Welcome to my Website</h1>
    <p>
      Dive into the realm of coding brilliance with [Your Blog Name]! Discover
      coding tutorials for all levels, stay updated on the latest tech trends,
      and uncover pro tips to enhance your skills. Join our community to
      connect, learn, and grow together. Your coding adventure begins here!
    </p>
  </div>
</div>

<div class="posts">
  <h3>Posts</h3>
  <ul>
    <% data.forEach(post => { %>
    <li>
      <a class="post-links" href="/post/<%= post._id %>">
        <span><%= post.title %></span>
        <span><%= post.createdAt.toDateString()%></span>
      </a>
    </li>
    <% }) %>
  </ul>
</div>
